
html{
    font-size: 16px;
}

body{
    color: darkslategray;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/white_brick_wall.png") ;
    padding-top:90px;
}

img{
    width:100%;
}
h1{
    color: white;
}
p{
    background-color: lightblue;
}
h1,h2,h3,h4{
    text-decoration: underline;
}
nav ul{
    list-style: none;
}
nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background-color: rgba(0, 0, 0, 0.606);
    z-index:999;
}
nav ul li{
    display: inline-block;
    width: 49%;
    padding: 1em;
    box-sizing: border-box;
}
nav ul a{
    display: block;
    color: darkslategray;
    text-decoration: none;
    font-size: 1.5rem;
}
.orange-link{
    padding: 1.5em;
    display:inline-block;
    width:300px;
    background-color: darkslategray;
    color: orange;
    text-decoration: none;
    clear:both;
}

article,
aside{
    width:80%;
    background-color: rgba(255,255,255,0.6);
    border: 1px solid black;
    padding: 1.5em;
    box-sizing: border-box;
    float: left;
}
aside{
    width:20%;
}
section{
    clear:both;
}
.clearfix{
    clear:both;
}

.orange-link.large-text{
    position:absolute;
    right: 0;
    bottom: 0;
}

#treatofweek{
    position:relative;
    background:darkslategray url("../images/bread.jpg") 
    no-repeat center center;
    background-size: cover;
    color: #fff;
    font-size: 1.5rem;
    padding: 1em 1em 3em 1em;
    width:50%;
}
#treatofweek dl ul li:nth-child(n){
    background-color: transparent;
}
.large-text{
    font-size: 20px;
}
article>p{
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    text-transform: lowercase;
    text-align: justify;
    word-spacing: 2px;
    letter-spacing: 2px;
    font-style: italic;
}
h3+ul{
    border: 1px solid black;
}
a[href="#treatofweek"] {
    font-weight: bold;
}
[title*="Executive"]{
background-color: yellow;
}

nav ul a,
nav ul a:link,
nav ul a:visited{
    background-color: orange;
    box-shadow: -2px 2px 4px 2px black;
}
nav ul a:hover,
nav ul a:focus{
    text-decoration: underline;
}
nav ul a:active{
    box-shadow: 0 0 4px 2px black;
}
aside ul li:first-child{
    font-weight: bold;
}
section ol li:last-child{
    font-weight:bold;  
}
dl ul li:nth-child(3){
    
}
dl ul li:nth-child(2n+1){
    background-color: white;
}
footer{
    background-color: #d5836c;
    padding: 20px;
}
body footer{
    background-color: rgba(0, 0, 0, 0.064);
}

