/* importing custom font */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ------ CSS RESET-------- */
/* ------ CUSTOM CSS-------- */

/* adding style to the home page and setting the overall style of the pages (nav and footer)*/
html{
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Raleway' , sans-serif;
    margin:0 auto;
    padding:0;
  }
body{
    margin:0;
}
main{
    margin-bottom: 70px;
}
header{
    background-color: #351431;
    height:100px;
}
.logo{
    max-width: 80px;  
    padding-top: 15px;
    padding-left: 30px;
}
nav a{
    color: #351431;
    border-bottom: 0.5px solid #351431;
}
.site-nav{
    text-align: center;
}
.site-nav a{
    text-decoration: none;
    padding: 10px;
    display: block;
}
.home{
    color:white;
    background-color:#351431;
}
.home:hover{
    color:rgb(172, 252, 217);
}
nav li{
    text-decoration: none;
}
nav a:hover{
    color: rgb(172, 252, 217);
    background-color:#351431;
}
#search{
    font-size: 15px;
    border:0;
    outline:none;
}
.fa-search{
    color: #35143178;
    font-weight:600;
    padding-top: 2px;
}
.search-box{
    font-family: inherit;
    display:flex;
    justify-content: center;
    width:200px;
    border: 1px solid #351431;
    border-radius: 19px;
    padding:3px;
    margin: auto;
}
.search-wrap{
    padding:25px 0px 80px 0px;
}
.products{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.products img{
    width:150px;
    height:150px;
    border-radius: 50%;
    box-shadow: 0px 10px 10px rgba(51, 49, 49, 0.4);
}
.products img:hover{
    animation: 1s pop linear;
}
@keyframes pop {
    20% {transform: scale(1.2);}
    50%{transform: scale(1);} 
}
h2{
    font-family:inherit;
    font-size:1.1rem;
    font-weight: bold;
    color: #351431;
    padding: 30px;
}
.slideshow{
    background:  rgba(172, 252, 217, 0.345);
    margin:50px auto;
    position:relative;
    overflow:hidden;
    width:90%;
    height:300px;
    border: solid 10px rgba(172, 252, 217, 0.345);
}
.navigation{
    position: absolute;
    bottom: 10px;
    left:50%;
    transform: translate(-50%);
    display: flex;
}
.bar{
    width: 50px;
    height:10px;
    border: 2px solid rgb(53, 20, 49);
    margin:4px;
    cursor: pointer;
    transition: 0.4s;
}
.bar:hover{
    background: rgb(53, 20, 49);
}
input[name="r"]{
    position: absolute;
    visibility: hidden;
}
.slide-img{
    width: 500%;
    height:90%;
    display:flex;
}
.slide{
    width: 20%;
    transition: 0.6s;
}
.slide img{
    width:100%;
}
#r1:checked ~ .s1{
    margin-left:0;
}
#r2:checked ~ .s1{
    margin-left: -20%;
}
#r3:checked ~ .s1{
    margin-left: -40%;
}
.mode{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding:50px;
}
.mode h1{
    color:#351431 ;
    font-family: inherit;
    font-size: 4.5vw;
    margin-bottom: 50px;
}
.mode li{
    background-color: rgba(53, 20, 49, 0.71);
    margin: auto;
    margin-bottom: 30px;
    width: 120px;
    height: 30px;
    border-radius: 60px;
    padding:2px;
    line-height: 1.9;
}
.mode li:hover{
    background-color: #351431;
}
.mode a{
    text-decoration: none;
    font-size: 14px;
    font-family: inherit;
    color: white;
}
.mode a:hover{
    color: rgb(172, 252, 217);
}
footer{
    background-color: rgba(53, 20, 49, 0.71);
    color:white;
    font-size: 14px;
    height: 150px;
    padding-top: 10px;
}
.links a{
    text-decoration: none;
    color:white;
    font-family: inherit;
}
.links a:hover{
    color: rgb(172, 252, 217);
}
.links ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
}
.container{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3,1fr);
    grid-gap:30px;
    padding-top: 15px;
}
.links{
    grid-column:1/5;
    font-size:14px;
}
.social{
    display: flex;
    justify-content: center;
    gap:10px;
    grid-column:1/5;
    grid-row: 2/3;
    font-size:14px;
}
.social-icons{
    display: flex;
    gap:10px;
    font-size:1rem;
}
.social-icons a{
    color:white;
}
.copy{
    display: flex;
    justify-content: space-around;
    grid-column:1/3;
    grid-row: 3/4;
    font-size:14px;
}
.top{
    grid-column:4/5;
    grid-row: 3/4;
}
.top p{
    display:none;
}
.fa-arrow-up{
    color:white;
    font-size: 19px;
    line-height: 0.2;
}
/* -------------------------- Styling Team page -------------------------- */
.pres h1{
    font-family: inherit;
    color:white;
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 30px;
    position:relative;
}
.pres h1::before{
    content: attr(data-text);
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:0;
    color:rgb(53, 20, 49);
    border-right: 1px solid white;
    overflow: hidden;
    animation: show 1s linear forwards;
}
@keyframes show{
    10%{height:30%;}
    50%{height:70%;}
    100%{height:100%;}
}
.team{
    padding-left:15px;
    padding-right:15px;
}
main p{
 font-family: inherit;
 margin:15px;
 font-size:1rem;
 line-height: 1.5;
 text-align:justify;
 color:#393939;
}
.intro{
    margin-bottom:50px;
}
h3{
    font-family:inherit;
    font-size:1rem;
    font-weight: bold;
    color:rgb(53, 20, 49);
    text-align:center;
    margin-top:20px;
}
.title{
    padding-top:15px;
}
.title p{
    text-align:center;
    color:#393939;
    font-size:14px;
    margin-top:10px;
}
.comma{
    font-size:2rem;
    color:rgba(128, 128, 128, 0.421);
    display:flex;
    justify-content: center;
    padding-top:15px;
}
.quote{
    line-height: 1.7;
}
.fa-instagram-square{
    font-size:1.5rem;
    color:#C13584;
}
.fa-linkedin{
    font-size:1.5rem;
    color:#0e76a8;
}
.media{
   padding-top:15px;
   margin-bottom: 50px;
   gap:5px;
   display:flex;
   justify-content: center;
}
.picture{
    display:flex;
    justify-content: center;
}
.picture img{
    width:80%;
    border-radius: 20px;
    box-shadow: 0px 6px 6px rgba(51, 49, 49, 0.4);
}

/* --------------------------  styling contact page -------------------------- */

.contact{
    padding-left:30px;
    padding-right:30px;
}
.contact h1{
    font-family: inherit;
    color:white;
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 50px;
    position:relative;
}
.contact h1::before{
    content: attr(data-text);
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:0;
    color:rgb(53, 20, 49);
    border-right: 1px solid white;
    overflow: hidden;
    animation: show 1s linear forwards;
}
@keyframes show{
    10%{height:30%;}
    50%{height:70%;}
    100%{height:100%;}
}
.contact-info{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.contact-img{
    max-width:100%;
    align-self:center;
    margin-bottom:50px;
}
.contact img{
    border-radius: 20px;
    box-shadow: 0px 6px 6px rgba(51, 49, 49, 0.4);
}
form{
    max-width:100%;
    margin-bottom:100px;
    display:grid;
    grid-template-columns: 90%;
    justify-content: center;
}
label{
    font-family: inherit;
    font-size: 0.9rem;
    color:rgba(53, 20, 49, 0.71) ;
}
form input{
    width: 100%;
    height:20px;
    margin: 10px 0px 10px;
    padding-top: 0.5rem;
    padding-bottom: 0.5em;
    border: 1px solid rgba(53, 20, 49, 0.71);
    border-radius: 5px;
}
textarea{
    resize: none;
    width:100%;
    height: 100px;
    margin: 10px 0px 10px;
    border-radius: 5px;
}
.send{
    display:flex;
    justify-content: center;
}
.send button{
    color: white;
    font-size: 0.9rem;
    text-transform: uppercase;
    background-color: rgba(53, 20, 49, 0.71);
    margin: 10px auto;
    margin-bottom: 30px;
    width: 100px;
    height: 25px;
    border-radius: 60px;
    padding:2px;
    line-height: 1.2;
    box-sizing: content-box;
}
/* --------------------------  media queries --------------------------  */
@media screen and (min-width:550px){
/* --------- Home page queries --------- */
    .products img{
        width:160px;
        height:160px;
    }
    .logo{
        max-width: 90px;   
    }
    .products{
        display: grid;
        grid-template-columns: repeat(2,35%);
        grid-template-rows: repeat(2,50%);
        gap:2%;
    }
    .slideshow{
        height:500px;
    }
    .mode h1{
        font-size: 4vw;
    }
    .links{
        font-size:15px;
    }
    
/* ----------------- Team page queries ----------------*/
    .picture img{
        width:70%;
    }
    .team{
        padding-left:30px;
        padding-right:30px;
    }
    h3{
        font-size:16px;
    }
    .title p{
        font-size:14px;
    }
    .team p{
        line-height: 2;
    }
    .team p{
        text-align: center;
    }
    .pres h1{
        font-size: 4vw;
    }
/* ----------------- Contact page queries ----------------*/
    label{
        font-size: 1rem;
    }
    form{
        grid-template-columns: 70%;
    }
    form input{
        height: 20px;
    }
    textarea{
        height: 120px;
    }
    .contact h1{
        font-size: 4vw;
    }
}
@media screen and (min-width:760px){
/* ----------------- Home page queries ----------------*/
    .products img{
        width:170px;
        height:170px;
    }
    .logo{
        max-width: 100px;   
    }
    header{
        display:flex;
        justify-content: center;
        height:130px;
    }
    nav a{
        color: #351431;
        border-bottom: none;
    }
    .site-nav{
        text-align: unset;
        display: flex;
        justify-content: space-between;
    }
    .nav-links{
        display:flex;
        gap: 20px;
        padding-top: 10px ;
        padding-left:20px;
    }
    .search-wrap{
        padding:15px 20px 80px 0px;
    }
    .site-nav a{
        padding: 10px;
        display: flex;
    }
    .home{
        color:#351431;
        background-color:unset;
    } 
    .products{
        margin-bottom:50px;
    }
    .products img{
        width:160px;
        height:160px;
    }
    .slideshow{
        height:500px;
        border: solid 15px rgba(172, 252, 217, 0.345);
    }
    .mode h1{
        font-size: 3vw;
    }
    .mode ul{
        display:flex;
        justify-content: center;
    }
    .mode li{
        margin:20px;
    }
    .top p{
        display:inline-block;
    }
/* ----------------- Team page queries ----------------*/
    .picture img{
        width:60%;
    }
    .team{
        padding-left:40px;
        padding-right:40px;
    }
    h3{
        font-size:18px;
    }
    .title p{
        font-size:15px;
    }
    .pres h1{
        font-size: 3.5vw;
    }
/* ----------------- Contact page queries ----------------*/
    form{
    grid-template-columns: 50%;
    }
     form input{
         height: 30px;
    }
     textarea{
         height: 120px;
    }
    .contact h1{
        font-size: 3.5vw;
    }
}
@media screen and (min-width:1000px){
    .products{
        grid-template-columns: repeat(4,20%);
        gap:3%;
        margin-bottom:80px;
        margin-top:50px;
    }
    .products img{
        width:170px;
        height:170px;
    }
    .mode h1{
        font-size: 2.8vw;
    }
    footer{
        height:100px;
    }
    .container{
        display:flex;
        justify-content: space-evenly;
        padding-top:40px;
    }
    .links{
        order:2;  
        flex-grow: 0.3;
        font-size: 1rem;
    }
    .social{
        order:3;
    }
    .top{
        order:4;
    }
/* ----------------- Team page queries ----------------*/
    .picture img{
        width:50%;
    }
    .pres h1{
        font-size: 3vw;
    }
/* ----------------- Contact page queries ----------------*/
    form{
        grid-template-columns: 40%;
    }
    textarea{
        height: 150px;
     }
    .contact h1{
        font-size: 3vw;
    }
}
@media screen and (min-width:1200px){
/* ----------------- Home page queries ----------------*/
    .products{
        grid-template-columns: repeat(4,15%);
        gap:2%;
    }
    .slideshow{
        width:70%;
        height:500px;
    }
    .mode h1{
        font-size:2.5vw;
    }
/* ----------------- Team page queries ----------------*/
    .team{
        padding-left:40px;
        padding-right:40px;
        display:grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 20% 50%;
        justify-content: center;
        gap:10px;
        margin-bottom:50px;
    }
    .pres{
        grid-column: 1/3;
        justify-self: center;
    }
    .founder{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .intro{
        font-size: 19px;
        padding:20px;
    }
    .picture img{
        width:60%;
    }
    .quote{
        padding:20px;
    }
    .pres h1{
        font-size: 2.5vw;
    }
/* ----------------- Contact page queries ----------------*/
     textarea{
         height: 150px;
     }
    .contact-info{
        display:grid;
        grid-template-columns: repeat(2,50%);
        grid-template-rows: 30% 50%;
        justify-content: center;
        margin: 150px 0px 100px 0px;
    }
    .contact-img{
        grid-column: 1/2;
        grid-row: 1/3;
        align-self:center;
        padding-left: 100px;
    }
    form{
        grid-template-columns: 60%;
        grid-column: 2/3;
        grid-row: 1/3;
        align-self:center;
    }    
    .contact h1{
        font-size: 2.5vw;
    }
}
@media screen and (min-width:1500px){
    /* ----------------- Home page queries ----------------*/
    .slideshow{
        width:70%;
        height:600px;
    }
    .mode h1{
        font-size: 1.8vw;
    }
    .pres h1{
        font-size: 2vw;
    }
    .contact-img{
        padding-left: 150px;
    }
    .contact h1{
        font-size: 2vw;
    }
}