/* Adding custom fonts to the website */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ------ CSS RESET-------- */
/* ------ CUSTOM RESET-------- */

html{
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Montserrat' , sans-serif;
    color:#333131;
  }
/* add background color to body */
body{
    background-color:#F7F7FF ;
    width:100%;   
    margin:0 auto; 
}
/* set margin & padding to center main content */
main{
    margin:25px;
    padding-left:5px;
    padding-right:5px;
}
/* adj logo size and align using padding */
header img{
    max-width: 25%;
    margin-left:30px;
    padding-top: 5px;
}
/* styling (font, color, margins etc ) for main content */
h1{
    font-size: 3.8rem;
    font-weight: 600;
    line-height: 1.2;
}
.section1 p{
    font-family: inherit;
    font-size:1.5rem;
    line-height: 1.3;
    padding-top: 5px;
}
.scooter{
    max-width:95%;
    margin-top: 5px;
}
.section2{
    box-sizing: border-box;
    background-color: white;
    width:90%;
    border-radius: 26px;
    box-shadow: 5px 10px 15px rgba(51, 49, 49, 0.4);
    padding: 20px 15px 20px 20px;
    margin-top: 15px;
    margin-left:10px;
    margin-bottom: 50px;
}
h2{
    font-family: inherit;
    font-size:2.5rem;
    font-weight: 600;
}
/* display short p section 2*/
.p1{
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.3;
    margin-top:2px;  
    padding-top:10px;
    padding-bottom:10px;
}
.p2{
    display:none;
}
.contact input{
    color:#9B9B9B;
    font-family: inherit;
    font-weight:200;
    font-size: 1rem;
    width:90%;
    height:25px;
    border: none;
    border-radius: 11px;
    background-color: #F4F4F5;
    padding:6px 10px;
    margin-bottom: 11px;  
} 
/* add diff background color to name input based on XD file*/
.name1 input{
    background-color:rgba(244, 244, 245, 0.5);
}
.checkbox{
    display:flex;
    padding-bottom:5px;
    font-family: inherit;
}
.checkbox input{
    box-sizing:border-box;
    border: 1px solid #333131;
    border-radius: 50%;
    height:55px;
    width: 25px;  
}
.checkbox label{
    align-self: center;
    padding-left: 5px;
}
.drive button{
    width:95%;
    height:55px;
    margin:5px;
    border:none;
    background-color: #57EEAB;
    border-radius:11px;
    font-family: inherit;
    font-size:1.5rem;
    font-weight:600;
    color:#333131;
}
.applied{
    padding: 10px;
    font-family: inherit;
    font-size:14px;
    line-height: 1.5;
}
span a{
    text-decoration: none;
    color:#FF8480;
    padding:5px;
}
.footer{
    padding:30px 30px 0px 30px;
}
footer{
    background-color: #FFFD8C;
    font-family: inherit;
}
h3{
    font-size:1rem;
    font-weight:600;
    max-width: 70%;
    line-height: 1.2;
}
footer p{
    margin-top: 10px;
    font-size:1rem;
    font-weight:300;
    max-width: 90%;
    line-height: 1.2;
}
footer input{
    color:#707070;
    font-family: inherit;
    font-weight:300;
    font-size: 1rem;
    width:95%;
    height:25px;
    border: none;
    border-radius: 11px;
    background-color: #F7F7FF;
    padding:6px 10px;
    margin-bottom: 5px;
    margin-top:10px;
}
footer button{
    width:100%;
    height:40px;
    margin:5px;
    border:none;
    background-color: #FF8480;
    border-radius:11px;
    font-family: inherit;
    font-size:1.4rem;
    font-weight:600;
    color:#F7F7FF;
}
/* use grid to style operation section easier to adj later on diff screen sizes*/
.operation{
    display:grid;
    grid-template-columns: 20% 30% 30%;
    grid-template-rows: 20% 20% 20%;
    grid-gap:20px;
}
.hours{
    grid-column:1/2;
}
.city{
    grid-column:2/4;
}
.calculate{
    grid-column:1/4;
}
.icons{
    display: flex;
    justify-content: center;
    gap:35px;
    grid-column:1/4;
    grid-row:3;
    margin-top:10px;
}
/* display icons only for mobile screen*/
.social{
    display:none;
}
.fab{
    font-size: 2.2rem;
}
/* adj style for screen 560px and more */
@media screen and (min-width:560px){
    header img{
        max-width:15%;
    }
    main{
        margin-left:50px;
        margin-right: 50px;
        margin-bottom: 60px;
        padding: unset;
    }
    .section2{
        max-width:90%;
    }
    .name1 input{
        background-color:#F4F4F5;
    }
    .icons{
        gap:40px;
    }
    .contact input{
        height:35px;
    }
    .applied{
        padding-left: 20px;
        font-size: 1em;
    }
    .scooter{
        display:block;
        width:70%;
        margin-left:auto;
        margin-right:auto;
    }
    .section2{
        max-width:80%;
        margin-left:50px;
    }
    .footer{
        margin-left:30px;
    }
    .operation{
        padding-top: 10px;
    }
}
/* adj style for screen 768px and more */
@media screen and (min-width:768px){
    header img{
        max-width:15%;
        padding-left: 25px;
    }
    h1{
        font-size:6rem;
    }
    .section1 p{
        font-size:1.7rem;
        top:30px;
    }
    .scooter{
        margin-top:unset;
        padding-bottom:20px;
    }
    .section2{
        max-width:75%;
        margin-left:80px;
        padding-left:30px;
    }
    .p1{
        font-size:1.5rem;
    }
    form span{
        font-size:1rem;
    }
    .operation{
        grid-template-columns: 20% 30% 30%;
        grid-template-rows:25% 50%;
        grid-gap:20px; 
    }
    .hours{
        grid-column:1/2;
    }
    .city{
        grid-column:2/3;
    }
    .calculate{
        grid-column:3/4;
    }
    .icons{
        grid-row:2;
        margin-top:20px;
    }
    .contact{
        display:flex;
        flex-direction: column;
    }
    .phone{
        order:1;
    }
}
/* adj style for screen 900px and more */
@media screen and (min-width:900px){
    header img{
        max-width:15%;
    }
    h1{
        font-size:4rem;
    }
    .section2{
        max-width:60%;
        margin-left:150px;
    }
    .operation{
        grid-template-columns: 10% 20% 25% 40%;
        grid-template-rows: 50% 50%;
    }
    .icons{
        gap:15px; 
        grid-column: 4/5;
        grid-row:1;
        margin-top:unset;
        padding-left:50px;
    }
}
/* adj style for screen 1000px and more */
@media screen and (min-width:1000px){
    h1{
        font-size:3.5rem;
    }
    .section1 p{
        font-size:2rem;
    }
    .section2{
        max-width:50%;
        margin-left:200px;
    }
}
/* adj style for screen 1200px and more / using flex to display content as per mockup */
@media screen and (min-width:1200px){
    header img{
        max-width:10%;
    }
    .section1 p{
        font-size: 1.5rem;
    }
    .p1{
        display:none;
    }
    .p2{
        display:block;
        font-size: 1.2rem;
        line-height: 1.3;
        padding-bottom:10px;
        padding-top:10px;
    }
    .content{
        display:flex;
        flex-direction: row;
        gap:2px;
        justify-content:center;
        align-items: flex-start;
    }
    .scooter{
        width:380px;
    }
    .section2{
        margin:unset;
        width:70%;
    }
    .operation{
        grid-template-columns: 5% 20% 15% 55%;
        grid-template-rows: 50% 50%;
    }
    .icons{
        display:none;
    }
    .social{
        display:flex;
        justify-content: flex-end;
        gap:20px; 
        grid-column: 4/5;
        grid-row:1;
        margin-right: 20px;
        margin-bottom: 10px;
    }
}
/* adj style for screen 1500px and more */
@media screen and (min-width:1500px){
    header img{
        max-width:5%;
    }
    .p2{
        display:block;
        font-size: 1rem;
        line-height: 1.2;
    }
    .scooter{
        padding:unset;
        margin:unset;
        width:400px;
        position:relative;
    }
    .section2{
        margin:unset;
        width:30%;
    }
}