html{
    font-size: 16px;
    font-weight:lighter;
    background-color: #aad4cf;

}

body{
    color: black;
    font-family: Arial, Helvetica, sans-serif;  
}
h1{
    color: white;
}
.large-text{
    font-size: 20px;
}